<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>icon.png</string>
			<key>Service Name</key>
			<string>Dictate</string>
			<key>Title</key>
			<string>Say</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Speak the selected text aloud, using Dictater.</string>
	<key>Extension Identifier</key>
	<string>net.zegnat.popclip.dictater</string>
	<key>Extension Name</key>
	<string>Dictater</string>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
